* {
  box-sizing: border-box;
}

body {
  background-color: #151718;
  font-family: sans-serif;
  color: #333333;
}

a, a:active {
  color: #333333;
  text-decoration: none;
}

a:hover {
  color: #666666;
}

.container {
  margin: 0 auto;
  background-color: black;
  width: 500px;
  height: 500px;
  padding: 0;
}

.center {
  margin-right: 0;
  margin-left: 0;
  text-align: center;
}
