/*
 * 130921
 * Another davidope cover
 * Double Pyramid
 * Two single pyramids reflected on the base
 * Leon Coto
 * styles/130921.scss
 */
@import "common";

* {
  @include box-sizing(boder-box);
}

body {
  background-color: $c-dark;
  color: $c-light;
}

a {
  color: $c-light;
  text-decoration: none;
}

a:active, a:hover, a:visited {
  @extend a;
}

a:hover {
  text-decoration: underline;
}

.sketch {
  @include square;
  background-color: $c-darkest;
  position: fixed;
  top: 50%;
  left: 50%;
}

@media #{$bp-beyond-mobile} {
  .sketch {
    @include square($s-larger-side);
  }
}


