/*
 * 130921
 * Another davidope cover
 * Double Pyramid
 * Leon Coto
 * styles/_common.scss
 */
@import "compass/css3";

$s-side: 320px;
$s-larger-side: 500px;

$c-darkest: #000000;
$c-dark: #212121;
$c-light: #929292;
$c-lighter: #ffffff;

// faces

$c-top-front: #fb5228;
$c-top-right: #5e207e;
$c-top-back: #0ddcce;
$c-top-left: #fbd503;

$c-bottom-front: #fb5228;
$c-bottom-right: #5e207e;
$c-bottom-back: #0ddcce;
$c-bottom-left: #fbd503;


$bp-beyond-mobile: "screen and (min-width: 501px)";

@mixin square($side: $s-side) {
  width: $side;
  height: $side;
  margin-top: $side / 2 * -1;
  margin-left: $side / 2 * -1;
}

.debug .triangle {
  background-color: rgba($c-lighter, 0.1);
}
