<!DOCTYPE html>
<html>
<head>
  <title><%= name %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><% _.each(css, function (f) { %>
  <link rel="stylesheet" type="text/css" href="<%= f %>"><% }) %>
</head>
<body>

  <h1><%= name %></h1>

  <ul><% _.each(sketches, function (sketch) { %>
    <li><a href="<%= sketch.name %>.html"><%= sketch.title %></a></li><% }) %>
  </ul>
<% _.each(js, function (f) { %>
  <script type="text/javascript" src="<%= f %>"></script><% }) %>

</body>
</html>
